body {
  background-color: DimGray;
  font-family: "Helvetica", sans-serif;
  color: #B8860B;
}

h1 {
  color: gold;
}


iframe, img{
  border-radius: 10px;
}

nav ul {
  background-color: gray;
  border-style: solid;
  border-color: GoldenRod;
  border-width: 2px;
  padding: 10px;
  border-radius: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    color: PapayaWhip;
    margin-right: 10px;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: gold;
}

table, th, td {
  border: 1px solid GoldenRod;
  border-collapse: collapse;
}
tr {
  background-color: Gray;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th, td{
  color: GoldenRod;
}

.topDivider {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #F5FFFA;
  padding-bottom: 10px;
}