<!DOCTYPE html>
<html>
	<head>
		<title>Bird Conservation - Home</title>
		<link type="text/css" rel="stylesheet" href="static/styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body>
	  <header>
		<nav>
			<ul>
    			<li><a href="/">Home</a></li>
    			<li>Protected Birds</li>
    			<li><a href="conservation.html">Conservation</a></li>
    			<li><a href="sanctuaries.html">Bird Sanctuaries</a></li>
			</ul>
		</nav>
	  </header>
	  <main>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/Q9HVhqXI8PY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	  </main>
	  <footer>

	  </footer>
	</body>
</html>

