<!DOCTYPE html>
<html>
	<head>
		<title>Bird Conservation - Conservation</title>
		<link type="text/css" rel="stylesheet" href="static/styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body>
	  <header>
		<nav>
			<ul>
    			<li><a href="/">Home</a></li>
    			<li><a href="/birds">Protected Birds</a></li>
    			<li>Conservation</li>
    			<li><a href="/sanctuaries">Bird Sanctuaries</a></li>
			</ul>
		</nav>
	  </header>
	  <main>

		  <h1>Blank page with coservation</h1>

	  </main>
	  <footer>

	  </footer>
	</body>
</html>

