<!DOCTYPE html>
<html>
	<head>
		<title>Bird Conservation - Conservation</title>
		<link type="text/css" rel="stylesheet" href="static/styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body>
	  <header>
		<nav>
			<ul>
    			<li><a href="/">Home</a></li>
    			<li><a href="/birds">Protected Birds</a></li>
    			<li>Conservation</li>
    			<li><a href="/sanctuaries">Bird Sanctuaries</a></li>
			</ul>
		</nav>
	  </header>
	  <main>

		  <h1>Blank page with coservation</h1>

		  <p>and table</p>

		  <table>
  			<tr>
   			 <th>Name</th>
  			  <th>Location</th>
  			  <th>Birds found there</th>
  			</tr>
  			<tr>
  			  <td>Skellig Michael</td>
  			  <td>Island off coast of Kerry</td>
  			  <td>Puffins</td>
  			</tr>
  			<tr>
  			  <td>Bird Island</td>
  			  <td>Strangford Lough</td>
  			  <td>Cormorants</td>
  			</tr>
  			<tr>
  			  <td>Burren Birds of Prey Centre</td>
  			  <td>County Clare</td>
  			  <td>Various birds of prey including eagles, hawks, owls and falcons</td>
  			</tr>
		  </table>

	  </main>
	  <footer>

	  </footer>
	</body>
</html>

