<!DOCTYPE html>
<html>
	<head>
		<title>Bird Conservation - Home</title>
		<link type="text/css" rel="stylesheet" href="static/styles.css"/>
		<meta charset="utf-8"/>
	</head>
	<body id="frontPage">
	  <header>
		<nav>
			<ul>
    			<li>Home</li>
    			<li><a href="/birds">Protected Birds</a></li>
    			<li><a href="/conservation">Conservation</a></li>
    			<li><a href="/sanctuaries">Bird Sanctuaries</a></li>
				<li><a href="hello/world">Hello world</a></li>
			</ul>
		</nav>
	  </header>
	  <main class="stylishBox">




	    <h1>Hello world!</h1>
		<a class="niceLinks" href="https://google.com">Google</a>
		<a href="https://en.wikipedia.org/wiki/Bird_conservation">
			<img id="owly" src="static/barn-owl.jpeg" alt="A barn owl"/>
		</a>
	    <p id="myCoolText">
			<em>This website</em> is about <strong>bird conversation.</strong>
	    </p>


		<p>
    		Threats to birds:
		</p>
		<ol>
    		<li>Habitat destruction</li>
    		<li>Pollution</li>
    		<li>Climate change</li>
		</ol>

	  </main>
	  <footer>
	  </footer>
	</body>
</html>

